.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .cards-container {
    width: 1200px;
  }
}
.cards-container .card {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  margin-bottom: 16px;
  padding: 24px;
}
.cards-container .card .headline {
  font-size: 25px;
  font-family: Didot, serif;
}
.cards-container .card .author {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.cards-container .card .author .img-container {
  padding-right: 10px;
  border-right: 1px solid lightgrey;
  height: 40px;
}
.cards-container .card .author .img-container img {
  width: 40px;
}
.cards-container .card .author span {
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
